<?xml version="1.0"?>
<configuration>
<screenShot_PathName>D:\newScreenshots\</screenShot_PathName>
<ignore_certificate>No</ignore_certificate>
<chrome_path>default</chrome_path>
<bit_64>No</bit_64>
<logFile_Path>D:\TestAutoLog.log</logFile_Path>
<screenShot_Flag>Fail</screenShot_Flag>
<queryTimeOut>3</queryTimeOut>
<timeOut>1</timeOut>
<stepExecutionWait>1</stepExecutionWait>
</configuration>